<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Balance</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.full_name, person %></td>
        <td><%= person.phone_number %></td>
        <td><%= person.total_balance %></td>
        <td><%= link_to 'Create Loan', new_loan_path(person_id: person.id) %></td>
        <td><%= link_to '🗑',
                        person,
                        method: :delete,
                        data: { confirm: 'Are you sure? This will as well delete all open Loans.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
