<% # Fallback %>
<% @list_of_people ||= [ Person.new ] %>

<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :person %>
    <%= form.collection_select :person_id, @list_of_people, :id, :id_with_full_name %>
  </div>

  <% if @create %>
    <div class="field">
      Direction
      <br>
      <table>
        <tr>
          <td><%= form.radio_button :sign, 'negative', checked: true %></td>
          <td><%= form.label :sign_negative, 'Person lent from user' %></td>
        </tr>
        <tr>
          <td><%= form.radio_button :sign, 'positive' %></td>
          <td><%= form.label :sign_positive, 'User lent from person' %></td>
        </tr>
      </table>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
