<% # Fallback %>
<% @list_of_loans ||= [ Loan.new ] %>

<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_amount %>
    <%= form.text_field :payment_amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :loan %>
    <%= form.collection_select :loan_id, @list_of_loans, :id, :name%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
